section{
  margin-top: 2rem;
  form{
    margin-top: 2rem;
    div{
      margin-bottom: 0.5rem;
    }
    h5{
      img{
        padding-bottom: 2px;
      }
    }
  }
  .alert-success{
    img{
      padding-bottom: 5px;
      padding-left: 5px;
    }
  }
}

