section{
  position: relative;

  .card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }

  app-delete{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.2rem;
  }
  a{
    img{
      margin-left: 8px;
      transform: rotate(180°);
    }
  }
  .card-body{
    div{
      display: flex;
      margin-bottom: 20px;
      margin-left: 2px;
    }
    .list-location{
      margin: 0;
      margin-right: 5px;
    }
  }
}


